<div *ngIf="currentProduit">
    <div class="panel panel-default" *ngIf="mode==0">
        <div class="panel-heading">Fiche Produit : {{currentProduit.name}}
            <span class="glyphicon glyphicon-edit pull-right btn" (click)="onEditProduit()"></span>
        </div>
        <div class="panel-body">
            <div class="col-md-5">
                <img class="img-thumbnail"
                    [src]="this.catService.host+'/photoProduit/'+currentProduit.id+'?ts='+getTS()" />
                <div *ngIf="this.authService.isAdmin()">
                    <button *ngIf="!editPhoto" (click)="onEditPhoto(currentProduit)">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    <span *ngIf="editPhoto">
                        <input type="file" (change)="onSelectedFile($event)">
                        <button class="btn btn-success btn-sm" (click)="uploadPhoto()">
                            <span class="glyphicon glyphicon-upload"></span>
                        </button>
                        {{progress}}
                    </span>
                </div>
                <div>
                    <span *ngIf="currentProduit.promotion">
                        <img src="assets/images/promo.png" class="img-thumbnail img-circle" width="30" height="30">
                    </span>
                    <span *ngIf="currentProduit.selected">
                        <img src="assets/images/favorite.png" class="img-thumbnail img-circle" width="30" height="30">
                    </span>
                    <span *ngIf="currentProduit.available">
                        <img src="assets/images/available.png" class="img-thumbnail img-circle" width="30" height="30">
                    </span>
                </div>

                <div>
                    <form #f="ngForm" (ngSubmit)="onAddProduitToCaddy(currentProduit)">
                        <label class="control-label">Quantité :</label>
                        <input type="number" name="quantity" [(ngModel)]="currentProduit.quantity" ngModel
                            style="width: 40px">
                        <button>
                            <img src="assets/images/panier.png" width="30" height="30">
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-md-7">
                <div class="panel panel-default" style="min-height: 300px">
                    <div class="panel-body">
                        <label>Price : {{currentProduit.currentPrice|number:'0.00'}}</label>
                    </div>
                    <div class="panel-body">
                        Description :{{currentProduit.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="mode==1">
        <form #f="ngForm" (ngSubmit)="onUpdateProduit(f.value)">
            <div class="form-group">
                <label class="control-label">Name:</label>
                <input type="text" name="name" ngModel [(ngModel)]="currentProduit.name" class="form-control">
            </div>
            <div class="form-group">
                <label class="control-label">Description:</label>
                <textarea name="description" ngModel [(ngModel)]="currentProduit.description"
                    class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label class="control-label">Price:</label>
                <input type="text" name="currentPrice" ngModel [(ngModel)]="currentProduit.currentPrice"
                    class="form-control">
            </div>
            <div class="form-group">
                <label class="control-label">Promotion:</label>
                <input type="checkbox" name="promotion" ngModel [(ngModel)]="currentProduit.promotion">
            </div>
            <div class="form-group">
                <label class="control-label">Sélection:</label>
                <input type="checkbox" name="selected" ngModel [(ngModel)]="currentProduit.selected">
            </div>
            <div class="form-group">
                <label class="control-label">Available:</label>
                <input type="checkbox" name="available" ngModel [(ngModel)]="currentProduit.available">
            </div>
            <button class="btn btn-success" type="submit">Update</button>
        </form>
    </div>
</div>