<div *ngIf="produits">
  <div>
    <h3>{{title}}</h3>
  </div>
  <div *ngFor="let p of produits._embedded.produits">
    <div class="col-md-6">
      <div class="panel panel-default heigted">
        <div class="panel-heading">{{p.name}}</div>
        <div class="panel-body">
          <img class="img-thumbnail img-rounded btn" (click)="onProduitDetails(p)"
            [src]="this.catService.host+'/photoProduit/'+p.id+'?ts='+getTS()" />
          <div *ngIf="this.authService.isAdmin()">
            <button *ngIf="!editPhoto" (click)="onEditPhoto(p)">
              <span class="glyphicon glyphicon-edit"></span>
            </button>
            <p *ngIf="editPhoto && currentProduit==p">
              <input type="file" (change)="onSelectedFile($event)">
              <button class="btn btn-success btn-sm" (click)="uploadPhoto()">
                <span class="glyphicon glyphicon-upload"></span>
              </button>
              {{progress}}
            </p>
          </div>
          <div>
            {{p.description}}
          </div>
          <div>
            <label>Price : {{p.currentPrice|number:'0.00'}}</label>
          </div>
          <div>
            <span *ngIf="p.promotion">
              <img src="assets/images/promo.png" class="img-thumbnail img-circle" width="30" height="30">
            </span>
            <span *ngIf="p.selected">
              <img src="assets/images/favorite.png" class="img-thumbnail img-circle" width="30" height="30">
            </span>
            <span *ngIf="p.available">
              <img src="assets/images/available.png" class="img-thumbnail img-circle" width="30" height="30">
            </span>
          </div>
          <div>
            <form #f="ngForm" (ngSubmit)="onAddProductToCaddy(p)">
              <label class="control-label">Quantité :</label>
              <input type="number" name="quantity" ngModel style="width: 40px" [(ngModel)]="p.quantity">
              <button>
                <img src="assets/images/panier.png" width="30" height="30">
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>